@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-12">
        <div id="BotChatGoesHere" />
    </div>
    <script src="https://cdn.botframework.com/botframework-webchat/latest/botchat.js"></script>
    <script>
        var params = BotChat.queryParams(location.search);
        var user = {
            id: 1,  //params['userid'] || 'userid',
            name: ' @User.Identity.GetUserName() ' //'Rodrigo Matteo' //params['username'] || 'username'
        };
        var bot = {
            id: params['botid'] || 'botid',
            name: params['botname'] || 'botname'
        };
        window['botchatDebug'] = params['debug'] && params['debug'] === 'true';

        /*
        BotChat.App({
            directLine: { secret: "mOeE5Yxu2vU.cwA.x7w.CdcXM3Su8-8mPFPrFlhbtdg9uyFrlhsrLYN_btw10tM" },
            user: { id: 'userid' },
            bot: { id: 'botid' },
            resize: 'detect'
        }, document.getElementById("BotChatGoesHere"));
        */

        BotChat.App({
            bot: bot,
            locale: params['locale'],
            resize: 'detect',
            // sendTyping: true,    // defaults to false. set to true to send 'typing' activities to bot (and other users) when user is typing
            user: user,
            // locale: 'es-es', // override locale to Spanish
            directLine: {
                domain: params['domain'],
                secret: "mOeE5Yxu2vU.cwA.x7w.CdcXM3Su8-8mPFPrFlhbtdg9uyFrlhsrLYN_btw10tM", //params['s'],
                token: params['t'],
                webSocket: params['webSocket'] && params['webSocket'] === 'true' // defaults to true
            }
        }, document.getElementById('BotChatGoesHere'));
    </script>
</div>