@using Microsoft.AspNet.Identity
@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
    @Html.AntiForgeryToken()
    <div class="global-nav-bar logout">
        <a id="topframe.logout.label" href="javascript:document.getElementById('logoutForm').submit()" target=_top class="nav-link logout-link" title="Logout">Logout</a>
    </div>
    <div id=global-nav class=global-nav-bar role=navigation data-preview=false>

        <div class=hideoff>Global Menu</div>
        <a id=global-nav-link class="nav-link u_floatThis-right" href="#global-nav-flyout" aria-haspopup=true tabindex="1" accesskey=m role=navigation title="Open&#x20;Global&#x20;Navigation&#x20;Menu">
            <img src="~/Content/upc/branding/themes/UPC2018/images/ci/ng/avatar_150.gif" alt="" id="global-avatar" dataToolTitle="User Avatar Image" class="global-top-avatar" />
            @*@using Microsoft.AspNet.Identity*@
            @if (Request.IsAuthenticated)
            {
                @User.Identity.GetUserName()
            }
            <img src="~/Content/upc/branding/themes/UPC2018/images/ci/mybb/arrowDown-topnav.png" alt="Expand Global Nav" id="global-toggle-img class=global-toggle" />
        </a>

    </div>
}
@if (Request.IsAuthenticated)
{
    
}